{
    "presets": [
      [
        "@babel/preset-env",
        {
          "targets": {
            "node": "current"
          }
        }
      ]
    ],
    "plugins": [
      [
        "@babel/plugin-proposal-decorators",
        {
           "legacy": true
        }
      ],
      [
        "module-resolver",
        {
          "root": ["./src"],
          "alias": {
            "src": "./src",
            "utils": "./src/utils",
            "lib": "./src/lib",
            "errors": "./src/errors",
            "constants": "./src/constants/"
          }
        }
      ],
      "@babel/plugin-proposal-class-properties",
      "@babel/plugin-proposal-optional-chaining"
    ],
    "ignore": [
      "node_modules"
    ]
}